data/
.DS_Store
Icon

# Ignore jspsych_examples folder
/jspsych_examples/
/analysis
relmed_vigour_task.code-workspace
node_modules/
test-results/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
# Ignore vscode files
launch.json
