.reversal-stimuli {
    position: relative;
    width: 80vw; /* 80% of the viewport width */
    padding-top: 40.30%;
    max-width: 800px; /* Maximum size */
    margin: 0 auto; /* Center horizontally */
}

.rev-squirrel-bg, .rev-squirrel-fg, .rev-squirrel-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
}

.rev-squirrel-bg img, .rev-coins img, .rev-squirrel-empty img, .rev-squirrel-fg img {
    width: 100%;
    height: auto;
}

/* Layering using z-index */
.rev-squirrel-empty {
    z-index: 0;
}

.rev-squirrel-bg {
    z-index: 1;
}

.rev-coin-side {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 2; /* On top of background */
    width: 8vw;
    max-width: 80px;
}

#rev-coin-right {
    left: 85%;
}

:root {
    --animation-duration: 0.35s; /* Define the duration variable */
}

.rev-coin-right-animate {
    animation: coin-fall var(--animation-duration) ease-in 1 forwards, coin-leftward var(--animation-duration) linear 1 forwards, coin-rotate var(--animation-duration) linear 1 forwards;
}

#rev-coin-left {
    left: 10%;
}

.rev-coin-left-animate {
    animation: coin-fall var(--animation-duration) ease-in 1 forwards, coin-rightward var(--animation-duration) linear 1 forwards, coin-rotate var(--animation-duration) linear 1 forwards;
}

.iti {
    filter: blur(5px);
}


@keyframes coin-fall {
    0% {
      top:60%;
    }
    50% {
      top: 10%;
    }
    100% {
      top:100%;
    }
  }
  @keyframes coin-rightward {
    0% {
      left: 10%;
    }
    100% {
      left: 47%;
    }
  }

  @keyframes coin-leftward {
    0% {
      left: 85%;
    }
    100% {
      left: 47%;
    }
  }
  
  @keyframes coin-rotate {
    0% {
      transform: rotate(0deg) rotateY(0deg); /* Initial rotation */
    }
    100% {
      transform: rotate(720deg) rotateY(360deg); 
    }
  }


.rev-coin-side img{
    width: 100%
}
.rev-squirrel-fg {
    z-index: 3; /* On top of coins */
}
