.reversal-stimuli {
    position: relative;
    width: 80vw; /* 80% of the viewport width */
    padding-top: 40.30%;
    max-width: 800px; /* Maximum size */
    margin: 0 auto; /* Center horizontally */
}

.rev-squirrel-bg, .rev-squirrel-fg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
}

.rev-squirrel-bg img, .rev-coins img, .rev-squirrel-fg img {
    width: 100%;
    height: auto;
}

/* Layering using z-index */
.rev-squirrel-bg {
    z-index: 1;
}

.rev-coin-side {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 2; /* On top of background */
    width: 5vw;
    max-width: 50px;
}

#rev-coin-right {
    left: 90%
}

#rev-coin-left {
    left: 10%
}


.rev-coin-side img{
    width: 100%
}
.rev-squirrel-fg {
    z-index: 3; /* On top of coins */
}
