.main-stage, .scene {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: relative;
  object-fit: contain;
  width: auto;
  height: 100%;
  z-index: 0;
}

.scene {
  position: absolute;
  z-index: 2;
}

.island-far {
  position: absolute;
  width: auto;
  height: 18.75%;
  top: 15.5%;
  z-index: 2;
}

.overlap-group {
  position: absolute;
  width: auto;
  top: 49%;
  height: 46.875%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}

.island-near {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 -22%;
  z-index: 3;
}

.choice-left, .choice-right {
  position: relative;
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
}

.fuel-container-left, .fuel-container-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  height: 40%;
  z-index: 5;
}

.ship-left, .ship-right {
  position: relative;
  width: auto;
  height: 42%;
  top: 44.25%;
  z-index: 4;
}

.arrow-left, .arrow-right {
  position: absolute;
  width: 7.5vh;
  height: 7.5vh;
  bottom: 0%
}

.ship-right, .arrow-right {
  transform: scaleX(-1);
}

/* New styles for the highlighting and fuel animation */
.highlight {
  filter: brightness(0) saturate(100%) invert(87%) sepia(19%) saturate(4059%) hue-rotate(358deg) brightness(101%) contrast(106%);
}

.fuel-icon {
  width: 8vh;
  height: 8vh;
  position: absolute;
}

.fuel-animation {
  animation: fuelAppear 0.5s ease-out forwards;
}

@keyframes fuelAppear {
  0% {
    opacity: 0;
    transform: translateY(-8vh);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(8vh);
  }
}