.experiment-wrapper {
  display: grid;
  grid-template-rows: 2fr 6fr 2fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#experiment-container {
  grid-row: 2;
  align-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#coin-container, #persist-coin-container {
  position: absolute;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#coin-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 60%;
  width: 90%;
  top: 40%;
}

#piggy-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 90%;
  top: 0%;
}

#piggy-container-left, #piggy-container-right {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 40%;
  top: 0%
}

#instruction-container {
  grid-row: 1;
}

#bottom-container {
  grid-row: 3; /* Places buttons and progress bar in the bottom row */
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  justify-items: center;
  align-self: start;
  align-items: center;
}

#button-container {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-self: start;
}

#piggy-bank-left, #piggy-bank-right, #piggy-bank {
  position: absolute;
  height: 100%;
  width: auto;
}

.piggy-tail {
  position: absolute;
  max-height: 30%;
  bottom: 50%;
}

.vigour_coin {
  position: absolute;
  max-height: 30%;
  width: auto;
  top: 0;
  opacity: 0;
}

#instruction-text {
  font-size: 1.3em;
  margin: 1em;
  text-align: center;
  line-height: normal;
}

.spacebar-icon {
  display: inline-block;
  padding: 0.4vmin 0.6vmin;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: bold;
  font-family: monospace;
}

.jspsych-btn {
  font-size: 20px;
  border-radius: 6px;
  margin: 0em 0.75em;
}

.instruct-coin-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 40px;
}
.instruct-coin {
  text-align: center;
}
.instruct-coin img {
  width: 150px;
  height: 150px;
}
.highlight {
  font-weight: bold;
  color: #0066cc;
}