/* Wrapper */
.experiment-wrapper {
  display: grid;
  grid-template-rows: 1.5fr 6.5fr 2fr; /* Four rows: instruction, main, button, progress */
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Containers */
#experiment-container {
  grid-row: 2; /* Places the piggy bank and coins in the center row */
  align-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#coin-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
  top: 40%;
}

#instruction-container, #info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vmin;
}

#instruction-container {
  grid-row: 1; /* Places instructions in the top row */
}

#bottom-container {
  grid-row: 3; /* Places buttons and progress bar in the bottom row */
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  justify-items: center;
  align-self: start;
  align-items: center;
  width: 100%; /* Make sure the container takes up the available width */
}

#button-container {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-self: start;
  visibility: hidden;
}

#info-container {
  grid-row: 1; /* Places trial info and buttons in the third row */
}

#progress-container {
  grid-row: 2;
  width: 50vmin;
  height: 3vmin;
  background-color: #e0e0e0; /* Light gray background */
  border-radius: 1.5vmin;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}

/* For experiment container */

#piggy-bank {
  position: absolute;
  height: 40%;
  top: 0;
  object-fit: contain;
  transition: transform 0.1s ease-in-out;
}

.vigour_coin {
  position: absolute;
  height: 30%;
  object-fit: contain;
  top: 0;
  opacity: 0;
}

.grayscale-blur {
  filter: grayscale(100%) blur(5px);
  opacity: 0.9;
}

#trial-info, #instruction-text {
  font-size: 3vmin;
  margin: 1.5vmin;
  text-align: center;
  line-height: normal;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #90a4ae; /* Soft blue-gray */
  transition: width 0.1s ease-in-out;
}

#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #546e7a; /* Dark blue-gray */
  font-size: 2vmin;
  font-weight: bold;
}

.spacebar-icon {
  display: inline-block;
  padding: 10px 10px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: bold;
  font-family: monospace;
}

#button-container button {
  font-size: 20px;
  border-radius: 6px;
}

/* Inter-trial interval text */

#iti-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vmin;
  color: #333;
  text-align: center;
  z-index: 10;
}