/* CSS styles for cardChoosing plugin */

.cardChoosingOptionBox {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardChoosingOptionSide {
    display: grid;
    flex-direction: column;
    width: 25vw;
    max-width: 1000px;
    position: relative;
    justify-content: center;
}

.cardChoosingOptionSide img {
    height: auto;
    width: 20vw;
    max-width: 500px;
   /* flex-direction: column;*/
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

#cardChoosingRightImg, #cardChoosingLeftImg, #cardChoosingMiddleImg {
    border: 1px solid darkgrey;
}

.cardChoosingHelperTxt2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 12vw;
    max-width: 325px;
    
    text-wrap: normal;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.cardChoosingHelperTxt3 {
    display: flex;
    justify-content: space-around;
    margin: auto;    
    text-wrap: normal;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
}


.cardChoosingCoin {
    visibility: hidden;
    margin: auto;
    z-index: 3;
}

.cardChoosingOptionSide .cardChoosingCoinCircle {
    visibility: hidden;
    height: 21vw;
    width: 21vw;
    max-width: 500px;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}

.cardChoosingOptionSide img.cardChoosingCoinBackground {
    visibility: hidden;
    width: 30vw;
    max-width: 30vw;
    z-index: 1;
    overflow: hidden;
    border: 1px solid darkgrey;
}

.spacebar-icon {
  display: inline-block;
  padding: 0.4vmin 0.6vmin;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: bold;
  font-family: monospace;
}

.spacebar-icon-pressed {
  display: inline-block;
  padding: 0.3vmin 0.6vmin; /* Slightly reduce padding */
  background-color: #e0e0e0; /* Darker shade for pressed effect */
  border: 1px solid #aaa; /* Darker border */
  border-radius: 6px;
  font-weight: bold;
  font-family: monospace;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); /* Inner shadow for pressed effect */
  transform: translateY(1.5px); /* Moves key down */
}
