/*------- Generic styles -------*/
.open-text h1 {
    font-size: 2vw;
}

.open-text h2 {
    font-size: 1.85vw;
}

.open-text h3 {
    font-size: 1.5vw;
}

.open-text h4 {
    font-size: 1.25vw;
}

.open-text p {
    font-size: 1.15vw;
    line-height: normal;
}

.open-text a {
    font-size: 1.15vw;
}

.open-text ul {
    line-height: normal;
    font-size: 1.15vw;
}

.open-text li {
    line-height: normal;
    font-size: 1.15vw;
}

.open-text label {
    font-size: 1.15vw;
}

#study_subtitle {
    color: midnightblue;
}

.button_div {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 30px; /* Adds space between buttons */
    margin-top: 10px;
}

.alert_button {
    margin-top: 10px;
    background-color: #f5c6cb;
    border: solid 2px gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*padding: 5px 10px;*/
    color: black;
    padding: 15px;
    cursor: pointer;
    align-self: flex-end; /* Aligns the button to the bottom of the container */
    margin-top: 10px; /* Adds space above the button */
    font-size: 1.15vw;
    font-weight: bold;
    /*transform: translate(-50%, -50%); !* Adjusts to perfectly center *!*/
}

/* Highlight things to check class style */
.check_maybe {
    color: red
}

/*Alert styles*/
#customAlert {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    /*padding: 20px;*/
    z-index: 9999;
    text-align: center;
    font-size: 1.15vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid gray;
    padding: 50px 20px;
}

#formAlert {
    /*display: none;*/
    visibility: hidden;
    position: fixed; /* Fix the position to stay on top */
    top: 55%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    /*height: 20%;*/
    width: 85%;
    transform: translate(-50%, -50%); /* Adjust to perfectly center */
    background-color: #f8d7da; /* Example alert background */
    padding: 50px 20px;
    /*border: 1px solid #f5c6cb;*/
    z-index: 1000; /* High z-index to stay on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.15vw;
    border-radius: 5px;
}


/* ------- Consent styles -------*/
#consentmine {
    text-align: left;
    width: 60%;
    padding: 2.5%;
    padding-top: 0;
    margin-left: 5vw;
}

#consentmine p {
    line-height: 1.4;
}

#consentmine label {
    line-height: 1.5;
    font-size: 1.3vw;
}

/* ------- Open question styles -------*/
#qs_instr {
    width: 50.5%;
    margin: auto;
    border: 2px solid blue;
    /*background: rgb(211, 211, 211, 0.5);*/
    border-radius: 1vw;
    margin-top: 5.5vh;
    /*font-size: 20.5vw;*/
    font-size: large;
    padding: 1vw;
}


#instr_req_warning {
    color: red;
    font-size: 1.15vw;
}

#qs_preamble {
    width: 90%;
    padding-top: 4vh;
    position: fixed; /* This makes the element sticky */
    top: 0; /* Stick it to the top of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal position to center */
    background-color: white; /* Background color for better visibility */
    z-index: 1000; /* Ensure it stays above other content */
}

#qs_preamble_disclosure {
    margin-top: -20px;
    font-size: medium;
    font-weight: normal;
}

#qs_preamble_q_p {
    color: rgb(65, 105, 225);
    font-weight: bold;
}

#qs_avoid {
    width: 40%;
    margin: auto;
    margin-top: 2vh;
    /*border: 2px solid black;*/
    border-bottom: 1.25px solid black;
    /*background: rgb(211, 211, 211, 0.15);*/
    padding: 1vw;
    margin-bottom: 5vh;
    /*border-radius: 1vw;*/
    /*  display: inline;*/
}

#qs_avoid label {
    font-size: small;
}

#qs_avoid_qsn {
    width: 40%;
    margin: auto;
    margin-top: -2vh;
    /*border: 2px solid black;*/
    border-bottom: 1.25px solid black;
    /*background: rgb(211, 211, 211, 0.15);*/
    padding: 1vw;
    margin-bottom: 1vh;
    /*border-radius: 1vw;*/
    /*  display: inline;*/
}

#qs_avoid_qsn label {
    font-size: 1vw;
}

#qs_words {
    margin-top: -3vh;
    color: cornflowerblue
}

#qs_timeleft {
    font-weight: bold;
    color: mediumvioletred
    margin-bottom: -2vh;
    margin-top: -2vh;
    font-size: medium;
}

/* Style for open-ended question class*/
.lvlx_qs {
    width: 100%
}

.lvlx_qs textarea {
    font-size: 1.15vw;
}

.lvlx_qs input[type="submit"] {
    /*font-size: 1.05vw;*/
    margin-top: -0.5vw;
    color: green;
    font-weight: bold;
    /*pointer-events: none;*/
    margin-bottom: 5vw;
}


input[type="submit"] {
    /*font-size: 1.05vw;*/
    margin-top: 2.5vw;
    color: green;
    font-weight: bold;
    /*pointer-events: none;*/
    margin-bottom: 5vw;
}

/*!* ------- Closed questionnaire styles -------*!*/
/*.qs_trial {*/
/*    !*margin-top: 20%;*!*/
/*    width: 70%;*/
/*}*/

/*.qs_trial form {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*    margin-bottom: 12.5vh;*/
/*    border-bottom:5px solid black;*/
/*    !*position:absolute;*!*/
/*    !*position: fixed;*!*/
/*    !*margin-top:-2vh;*!*/
/*    !*overflow: scroll;*!*/
/*    !*height:200px;*!*/
/*    !*bottom:10%;*!*/
/*    !*padding-bottom: 20%;*!*/
/*    !*left:0;*!*/
/*    !*right:0;*!*/
/*    !*bottom:0*!*/
/*}*/

/*.qs_trial form .jspsych-survey-multi-choice-question p:not(#qs_preamble_disclosure) {*/
/*    text-align: left;*/
/*    !*font-size: 20vw;*!*/
/*    !* text-align: left;*!*/
/*    !* margin: auto;*!*/
/*}*/

/*.qs_trial p {*/
/*    font-weight: bold;*/
/*    !*text-align: left;*!*/
/*    !*margin:auto;*!*/
/*}*/

/*.qs_trial input[type="submit"] {*/
/*    margin-top: 2.5vw;*/
/*    color: green;*/
/*    font-weight: bold;*/
/*    margin-bottom: 0;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 7.5vh;*/
/*    border: 2px black solid;*/
/*    border-bottom: none;*/
/*    font-size: 1.025vw;*/
/*    background-color: rgb(220, 220, 220, 1);*/
/*    padding-bottom: 2vh;*/
/*    !*width:100%;*!*/
/*    !*font-size: 1.05vw;*!*/
/*    !*padding:0px;*!*/
/*    !*position:relative;*!*/
/*    !*transform: translateX(-50%); !* Adjust horizontal position to center *!*!*/
/*    !*bottom:25px;*!*/
/*    !*!*background-color: gray;*!*!*/
/*    !*padding-bottom:5%;*!*/
/*    !*padding-top:1%;*!*/
/*}*/

/*.qs_trial input[type="submit"]:hover {*/
/*    background-color: rgb(200, 200, 200, 1);*/
/*}*/


/*.qs_trial #qsn_time {*/
/*    color: red;*/
/*    font-weight: bold;*/
/*    font-size: 1vw;*/
/*}*/

/*.qs_trial #qs_preamble {*/
/*    width: 100%;*/
/*    padding-top: 4vh;*/
/*    position: fixed; !* This makes the element sticky *!*/
/*    top: 0; !* Stick it to the top of the viewport *!*/
/*    left: 50%; !* Center horizontally *!*/
/*    transform: translateX(-50%); !* Adjust horizontal position to center *!*/
/*    background-color: white; !* Background color for better visibility *!*/
/*    z-index: 1000; !* Ensure it stays above other content *!*/
/*}*/

/*   ------- Instructions styles ------- */
.init_instr {
    width: 90%;
    margin: auto;
}

.instr_stim {
    width: 100%;
    margin: auto;
}

.trigger {
    width: 70%;
    margin: auto;
}

.instr_stim p {
    width: 100%;
}

.next_page {
    width: 100%;
    border-top: 2px black solid;
    padding: 10px;
    margin-top: 5vh;
    margin-bottom: -0.5vh;
}

.completed_text {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5vh;
}

.return_text {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-top: -5vh;
    /*position:absolute;*/
    /*top:5%;*/
}

.feedback_trial textarea {
    font-size: 1.15vw;
}

/*!* ------- Quiz ------- *!*/
/*#quiz_recap {*/
/*    overflow-y: scroll;*/
/*    height: 25vh;*/
/*    width: 60%;*/
/*    margin: auto;*/
/*    border: 3px black solid;*/
/*    background: rgb(211, 211, 211, 0.75);*/
/*    padding: 10px;*/
/*    !*border-radius: 2px;*!*/
/*}*/

/*.quiz_trial form {*/
/*    display: inline-block;*/
/*    !*margin:auto;*!*/
/*    !*left: 20%;*!*/
/*    !*transform: translate(-30%);*!*/
/*    !*position: fixed;*!*/
/*}*/

/*!* ------- Emotions task ------- *!*/
/*.emotion_lab {*/
/*    width: 95%;*/
/*    font-size: 1.25vw;*/
/*    transform: translateY(-15%); !* Adjust horizontal position to center *!*/
/*    !*width: 75%;*!*/
/*    !*transform: translateX(15%); !* Adjust horizontal position to center *!*!*/
/*    !* position:fixed;*!*/
/*    !*top:0;*!*/
/*}*/

/*#emo_prompt {*/
/*    text-align: center;*/
/*    !*transform: translateY(-100%); !* Adjust horizontal position to center *!*!*/
/*}*/

/*#emo_subinstr {*/
/*    font-size:1vw;*/
/*}*/

/*#time_emotion_p {*/
/*    color: red;*/
/*    margin-top: 10px;*/
/*    margin-bottom: -20px;*/

/*}*/

/*.emotion_lab .jspsych-survey-multi-select-text input[type=checkbox] {*/
/*    transform: scale(1.25);*/
/*    display: none;*/
/*}*/

/*.emotion_lab label.jspsych-survey-multi-select-text {*/
/*    border: 1px solid #ccc;*/
/*    padding: 0.25vw 0.75vw;*/
/*    margin: 1vw 0 0 0;*/
/*    width: 9.1vw;*/
/*    height: 4.5vw;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    font-size: 1.3vw;*/
/*    !*height: 75px;*!*/
/*    !*display: block;*!*/
/*    !*width: 175px;*!*/
/*}*/

/*.emotion_lab label.jspsych-survey-multi-select-text:hover {*/
/*    background: #eee;*/
/*}*/

/*.emotion_lab .jspsych-survey-multi-select-text [type=checkbox]:after {*/
/*    content: attr(value);*/
/*    margin: -3px 15px;*/
/*    vertical-align: top;*/
/*    white-space: nowrap;*/
/*    display: inline-block;*/
/*}*/


/*.emotion_lab button:not(.alert_button)  {*/
/*    margin-top: -10px;*/
/*    margin-bottom: 30px;*/
/*    color: green;*/
/*    font-weight: bold;*/
/*}*/

